.App {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
}

.App-header {
  background-color: #222;
  width: 100%;
  height: 25px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin: 0px;
}

.App-intro {
  font-size: large;
}

.Sidebar {
  background-color: white;
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.Checkbox {
  margin: 5px;
}

.Checkbox p {
  margin: 5px;
}

.Button {
    font-size: .9em;
    background-color: #b9b9b9;
    width: 25%;
    padding: 5px;
    margin: 5px;
}

.Post-Container {
  width: 100%;
}

.Post {
  display: flex;
  flex-flow: row wrap;
  margin: 5px;
  padding: 5px;
  background-color: rgba(132, 132, 132, 0.14);
}

.Post figure {
  margin: 3px;
}

.Post img {
  margin: 5px;
}

.Post article {
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  padding: 5px;
  width: 90%;
}

.Post article a{
  width: 100%;
  font-size: 1.2em;
}

.Post .Thumbnail {
  float: left;
  border-radius: 100px;
  height: 75px;
  width: 75px;
}