.App {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
}

.App-header {
  background-color: #222;
  width: 100%;
  height: 25px;
  padding: 10px;
  color: white;
  position: fixed;
  z-index: 1;
}

.App-title {
  font-size: 1.5em;
  margin: 0px;
}

.App-intro {
  font-size: large;
}

.Sidebar {
  background-color: white;
  display:flex;
  flex-flow: row wrap;
  width: 100%;
  position: fixed;
  top: 45px;
  z-index: 1;
}

.Checkbox {
  margin: 5px;
}

.Post-Container {
  width: 100%;
  position: relative;
  top: 100px;
  /*z-index: -1;*/
}

.Post {
  display: flex;
  flex-flow: row wrap;
  margin: 5px;
  padding: 5px;
  background-color: rgba(132, 132, 132, 0.14);
}

.Post figure {
  margin: 3px;
  /*width: 10%;*/
}

.Post img {
  margin: 5px;
}

.Post article {
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  padding: 5px;
  width: 90%;
}

.Post article a{
  width: 100%;
  font-size: 1.5em;
}

.Post .Thumbnail {
  float: left;
  border-radius: 100px;
  height: 75px;
  width: 75px;
}